@page "/colours/create/"
@using System.Text.Json
@using System.Text
@using Newtonsoft.Json

@inject HttpClient Http
@inject NavigationManager NavManager


<h3 class="card-title">Create New Colour</h3>
<hr/>
<br/>

<EditForm Model="@colour" OnValidSubmit="CreateColour">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

   <div class="form-group">
        <label>Name: </label>
        <div>
           <InputText @bind-Value="colour.Name" class="form-control"/>
           <ValidationMessage For="@(() => colour.Name)"/>
        </div>
    </div>
  
    <button type="submit" class="btn btn-success btn-block">
        Create Colour
    </button>
</EditForm>

@code {
    Colour colour = new Colour();

    protected async override Task OnInitializedAsync()
    {

    }

    private async Task CreateColour()
    {
        
        await Http.PostAsJsonAsync("api/Colours", colour);
        NavManager.NavigateTo("/colours/");

    }
}
    


