@page "/models/edit/{id:int}"
@using System.Text.Json
@using System.Text

@inject HttpClient Http
@inject NavigationManager NavManager


<h3 class="card-title">Update Model</h3>
<hr/>
<br/>

<EditForm Model="@model" OnValidSubmit="UpdateModel">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

   <div class="form-group">
        <label>Name: </label>
        <div>
           <InputText @bind-Value="model.Name" class="form-control"/>
           <ValidationMessage For="@(() => model.Name)"/>
        </div>
    </div>
  
    <button type="submit" class="btn btn-success btn-block">
        Update Model
    </button>

    <button class="btn btn-outline-dark btn-block" @onclick="NavigateToList">
        <span class="oi oi-arrow-left"></span>
        Back To list
    </button>
</EditForm>

@code {
    

    [Parameter] public int id { get; set; }

    Model model = new Model();

    protected async override Task OnParametersSetAsync()
    {
        model = await Http.GetFromJsonAsync<Model>($"api/models/{id}");

    }

    async Task UpdateModel()
    {
        await Http.PutAsJsonAsync($"api/models/{id}", model);
        NavManager.NavigateTo("/models/");
    }

    void NavigateToList()
    {
        NavManager.NavigateTo("/models/");
    }
}
    

